<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>39</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Expedição</ProductName>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>\\cipodominio.com.br\SIG\compilados\expedicao\</PublishUrl>
    <PublisherName>Cipolatti e Cipolatti</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(nenhum)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>Sistema Integrado de Gerenciamento</SuiteName>
    <TargetCulture>pt-BR</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\cipodominio.com.br\SIG\compilados\expedicao\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <SkipPublishVerification>false</SkipPublishVerification>
    <History>False|2023-10-10T12:55:08.8334364Z;True|2023-10-05T18:37:29.3005673-03:00;True|2023-09-30T09:23:55.6102740-03:00;True|2023-09-18T08:59:40.6445398-03:00;True|2023-09-15T14:13:56.2726645-03:00;False|2023-09-15T14:12:28.9982923-03:00;True|2023-07-06T15:28:20.5942746-03:00;True|2023-07-02T18:40:30.0745006-03:00;True|2023-06-20T18:09:46.3904780-03:00;True|2023-06-20T15:02:26.1586569-03:00;True|2023-06-19T16:18:06.4746036-03:00;True|2023-06-15T11:10:47.8969630-03:00;True|2023-06-13T16:20:38.8013073-03:00;True|2023-06-12T18:07:31.0113696-03:00;True|2023-06-06T17:05:05.2538209-03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Database.db">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>Runtime do .NET Desktop 7.0.5 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>